<!-- Footer -->
<footer class="bg-dark text-white text-center py-4" style="color: #0000007a;">
    <div class="container">
      <p id="footer-description" class="mb-0">Desenvolvido por <a href="/about" target="_blank" class="text-white">
        <img src="img/branco.png" alt="" style="width: 90px; height: 100%;"></a></p>
      <div class="social-links mt-3">
        <p class="mb-0">Nos acompanhe pelas redes sociais!</p>
        <a href="https://www.instagram.com/integraif.hub?igsh=YWZkYTlrbGExMWlh" target="_blank" class="text-white mx-2">
          <i class="fab fa-instagram"></i> Instagram
        </a>
        <a href="https://www.linkedin.com/in/integra-if-hub/" target="_blank" class="text-white mx-2">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <hr style="border-color: #6d6d6d;">
        <p class="mb-0" style="color: #6d6d6d;">© 2024 Integra IF. Todos os direitos reservados.</p>
      </div>
    </div>
</footer>

<!-- Scripts do FontAwesome para os ícones sociais -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
