<%- include('partials/header') %>
<div class="container mt-5">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <h1>Sobre Nós</h1>
  <p>Este é o espaço onde as empresas juniores da Rede de Institutos Federais se encontram para compartilhar experiências, desenvolver soluções e divulgar seus produtos e serviços. O Integra IF tem como pilares a colaboração, a inovação e a coletividade, visando fortalecer o empreendedorismo universitário e evidenciar todo o potencial que carrega o Instituto Federal. 

    Convidamos sua empresa júnior a fazer parte deste ecossistema: cadastre-se e amplie suas oportunidades!
    
    *Projeto criado a partir do Edital FABIN n°2/2024 (IFB, FAP-DF).
    
    Sobre Nós
    
    Nossa equipe é formada por estudantes dos cursos de Tecnologia em Gestão Pública e Sistemas para Internet do IFB, Campus Brasília. Somos movidos pelo reconhecimento do protagonismo estudantil e acreditamos profundamente no impacto que uma empresa júnior pode trazer para a formação acadêmica. Nosso propósito é integrar talentos, inspirar ideias e construir um futuro onde o empreendimento universitário atue como agente de transformação social e econômica.</p>
    
   <p>Fundadores do Integra IF Hub
    Gabriela Marques Santos (TGP)
    Maria Vitória Urias Santos (TSI)
    Lalia Haidara Santos Sadio (TSI)
    Thaís Vitória Oliveira da Silva (TSI)</p>
</div>

<%- include('partials/footer') %>
